{{!-- The following component displays Ember's default welcome message. --}}
{{!-- welcome-page --}}
{{!-- Feel free to remove this! --}}
<header>

    <nav>
      <a href="javascript:void(0)" class="brand">Ember App<small>v0.1.0</small></a>
      <a href="javascript:void(0)" class="button menu" aria-label="Open menu drawer"><i class="icon"></i>Menu</a>
      <!--
      <a href="javascript:void(0)" class="search"><i class="icon"></i></a>
      <a href="javascript:void(0)" class="settings"><i class="icon"></i></a>
      //-->
    </nav>

</header>
<main>
{{outlet}}
</main>
